
  .RecipesPCard {
    display: block;
    position: relative;
    background: rgba(26, 26, 26, 0.603);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1.8px solid var(--secondary-color);
    backdrop-filter: blur(9.5px);

    height: 28vh;
    padding: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    overflow: hidden;

    
      text-shadow: 0px 0px 6px rgb(0, 0, 0);

    a{
        text-decoration: none;
        color: inherit;
        height: auto;
    }

    .RecipeIMG {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    p {
      color: var(--quaternary-color);
      position: relative;
    }

    .Content-Info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: start;
      min-width: 0;
      height: 100%;
      position: relative;
    }

    .Recipe-Info {
      line-height:0.2;
      display: flex;
      flex-direction: column;
      h3{
        
        margin-bottom: 0;
        color: var(--quaternary-color);
      }

      h4{
        color: var(--quaternary-color);
        margin-top: 7px;
      }

      .Rating{
        margin-top: 5px;
        display: flex;
        flewx-direction: row;
        gap: 5px;
      }
    }

    .recetteImage{
      object-fit: cover;
    }
  }

  .RecipesContainer li {
    list-style: none;
  }
  