:root {
    --primary-color: #000000;
    --secondary-color: #222222;
    --tertiary-color: #9e9e9e;
    --quaternary-color: #ffffff;
    --quinary-color: #d4a017;
}

h1,h2{
    color: var(--quaternary-color);
}

.RecipeOfTheDay{
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 1rem 1rem 1rem 1rem;

    .Recipe-Info{
        text-align: start;
    }

    
}

.Card{
    
    border-radius: 20px;
    background-color: var(--secondary-color);
    width: 12vw;
    overflow: hidden;
    .recetteImage {
    height: 9rem;
    width: auto;
    
    object-fit: cover;
    }
    
    a{
        text-decoration-line: none;
        color: inherit;
    }

    .Recipe-Info{
        text-align: start;
        padding: 1rem ;
    }

    h3{
        margin:0;
        color: var(--quaternary-color);
    }

    h4{
        margin:0;
        color: var(--tertiary-color);
    }

    p{
        color: var(--tertiary-color);
    }
}


