.footer {
  width: 100%;
  background: var(--bg);
  color: white;
  padding-top: 50px;
  margin-top: 80px;
  border-top: 2px solid var(--quinary-color);
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.footer-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footer-bottom {
  border-top: 1px solid var(--secondary-color);
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  color: #777;
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-links a {
  color: var(--quinary-color);
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: white;
}