img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 2rem;
}
.section-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    

}
.category-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 15px;
    border-right: 4px solid #545454;
    padding-right: 15px;
    }

.type-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.button-category{
    border-radius: 20px;
    background-color: var(--secondary-color);
    width: 145px;
    height: 120px;
    padding: 1rem;
    &:hover{
        background-color: #d49e175b;
        transition: background-color 0.5s ease-in-out;
    }
    
}

    