# Serveur
NODE_ENV=
PORT=
HOST=

# Base de données
DATABASE_URL=

# Authentification
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
RESET_TOKEN_SECRET=

# CORS
ALLOWED_ORIGINS=
FRONTEND_URL=

# Email (Mailtrap)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=

# Logs
LOG_LEVEL=
LOG_SERVICE_HOST=
LOG_SERVICE_PORT=